.button{
	-fx-background-color: Skyblue;
}
#panelIzq, #panelDrc{
	-fx-background-color: PowderBlue;
}
#tabla{
	-fx-background-color: SteelBlue;
}
#nuevaPeli, #pelicula{
	-fx-background-color: white;
}